body {
    font-family: 'Roboto',
        sans-serif;
    text-align: center;
}

header,
main,
footer {
    max-width: 540px;
    margin: 1rem auto;
    border: 1px solid turquoise;
    padding: 2rem;
    background-color: lightgray;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

footer {
    align-items: center;
}

main input[type="text"]{
    padding: .3rem 0;
}