:root {
    --background-primary-color: #E9CD10;
    --font-primary-color: #141319;
    --font-next-color: #ffffff;
    --highlight-color: #C2C5C8;
    --other-background: #383D45;
    --other-opacity-background: #383D4599;
    --gradient-form-color: #C68A00;
    --button-grad-1: #9c2c13;
    --button-grad-2: #6f200e;
    --correct-form-fill: green;
    --button-hover-color: #999;
}

* {
    font-family: 'Roboto',
        sans-serif;

}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}


/* small view navigation */
#menu {
    display: block;
    font-size: 1.5rem;
    border: 0;
    color: var(--font-primary-color);
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    /*padding: 0.5rem .75rem;*/
}

#menu::before {
    content: "☰";
    color: var(--font-primary-color);
}

#menu.open::before {
    content: "❌";

}




header h2 {
    background-color: var(--font-primary-color);
    color: var(--font-next-color);
    padding-left: 1rem;

}

nav ul {
    padding: 0;
}

.navigation li {
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    background-color: var(--background-primary-color);
    color: var(--other-background);
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--font-primary-color);

}

.navigation a:hover,
.navigation a:active {
    background-color: var(--highlight-color);
    color: var(--other-background);
    font-weight: 700;
    text-align: center;
    transition: 0.5s;

}



footer {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px dashed var(--font-primary-color);

}

main {
    max-width: 840px;
    margin: 0 auto;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.mains,
.mains2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.2rem;
    justify-content: center;

}


.branding {
    display: flex;
    align-items: center;
    gap: 8px;
}

.branding img {
    height: 45px;
    width: auto;
    margin-left: 5px;
    border: 1px solid var(--other-background)
}



figcaption {
    text-align: center;

}

.mains h1 {
    grid-column: 1/-1;

}

.card {
    display: flex;
    width: 96%;
    flex-direction: column;
    padding: 1rem 0.5rem;
    margin: 1rem auto;
    border: 1px solid var(--gradient-form-color);
    text-align: center;
    background-color: var(--highlight-color);

}


.card h3 {
    margin: 0.6rem 0.2rem;
}

.card p span {
    font-size: 0.9rem;

}

.card p {
    margin: 0.2rem 0.5rem;
}

.parastory ul {
    list-style: none;
    padding-left: 0;
}

.parastory ul li {
    text-align: left;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.parastory ul li::before {
    content: "😎";
    position: absolute;
    top: 0;
    left: 0;


}

.card video,
.card iframe {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;

}

.card iframe {
    width: 100%;
    height: 315px;
    border: none;
    max-width: 400px;
    margin: 0 auto;
}

.login-form-area {
    padding-top: 2%;
}


/* STYLING OF FORM */

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid var(--button-hover-color);
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 p {
    color: #445ba9;
    font-size: .9rem;
    /* padding: 0 .2rem; */
}

.mains3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 12px;
    justify-content: center;
    width: 100%;
    position: relative;
}

.wf1 label {
    display: block;
    padding-top: 0.2rem;
    color: var(--);
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    font-size: .9rem;
}


.wf1 input[type="date"],
.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="password"],
.wf1 textarea {
    background-color: var(--font-next-color);
    display: block;
    border: 1px solid var(--button-hover-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--other-background);
    width: 92%;
    max-width: 400px;
    /* appearance: none; */
    /*This removes any default styling from the browser */
}

.wf1 input[type="tel"],
.wf1 select {
    width: 94%;
    background-color: var(--font-next-color);
    display: block;
    border: 1px solid var(--button-hover-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--other-background);
    max-width: 400px;
}


#prod-label,
#app-label,
#date-label,
#write-label,
#name-label {
    margin-top: 0.5rem;
}

#text-box {
    height: 100px;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(var(--button-grad-1), var(--button-grad-2));
    color: var(--font-next-color);
    padding: .8rem;
    border-radius: 6px;
    width: 96%;
    max-width: 200px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1xp 4px var(--button-hover-color);
}

.wf1 {
    background-image: linear-gradient(to right, var(--background-primary-color), var(--gradient-form-color));
    padding: 0.4rem;
    border-radius: 10px;
}

.wf1 input:required,
.wf1 select:required {
    border-left: solid 8px var(--button-grad-1);
}

.wf1 input:required:valid,
.wf1 select:required:valid {
    border-left: solid 8px var(--correct-form-fill);
}

.alumni {
    margin: 20px auto;
    padding: 10px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.gallery-large img,
.gallery-small-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.gallery-small-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

#enrollbtn {
    border: 1px solid var(--font-primary-color);
    border-radius: 10px;
    background-color: var(--button-grad-1);
    color: var(--font-next-color);
}

.resource-guide li {
    margin-top: 1rem;
}

.resource-guide li:hover {
    color: var(--button-grad-1);
    cursor: pointer;

}

.popup-auth {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-detail {
    background: var(--font-next-color);
    padding: 20px 25px;
    width: 90%;
    max-width: 350px;
    border-radius: 10px;
    text-align: center;
}

.closebtn {
    float: right;
    cursor: pointer;
}

/*ABOUT US PAGE STYLING*/

.mains3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 12px;
    justify-content: center;
    width: 100%;
    position: relative;

}

/*Responsive image*/
.hero img {
    width: 100%;
    height: auto;
}

.hero {
    grid-column: 1/-1;
}

table {

    color: royalblue;
    border-collapse: separate;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 2px;
    font-size: clamp(13px, 1.2vw, 16px);
    width: 100%;
    border-spacing: 0.2rem;
    text-indent: 1rem;

}

tr {

    font-weight: 500;
}

.heading {
    text-align: center;
    background-color: var(--button-grad-2);
    color: var(--font-next-color);
    margin: 0.2rem 0;
    padding: 0.4rem 0;
}

#icon img {
    width: 30%;
    max-width: 400px;
    display: inline-block;
    height: auto;

}

#icon {
    text-align: center;

}


@media (min-width: 37.5em) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-primary-color);
    }


    footer {
        text-align: center;

    }

    h1 {
        font-size: 2.0rem;
        margin-left: 0.5rem;
        text-align: left;

    }

    header h1 {
        color: var(--font-primary-color);
        margin-left: 1rem;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    #enrollbtn {
        border: 1px solid var(--font-primary-color);
        border-radius: 10px;
        background-color: var(--button-grad-1);
        color: var(--font-next-color);
    }

    #enrollbtn:hover {
        background-color: lightgray;
        color: black;
    }


    .branding {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-right: 1rem;
    }

    nav,
    nav ul {
        display: flex;

    }

    nav ul {
        flex-direction: row;

        margin-right: 1rem;
    }

    .navigation li {
        flex-direction: row;
        text-decoration: none;
        color: var(--font-primary-color);
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        text-align: center;
    }


    .card {
        margin-left: 1rem auto 0 1rem;
        max-width: none;

    }

    .card video {
        width: 100%;
        height: 260px;
        max-width: 400px;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }

    .parastory {
        padding: 0 1rem 0;
        max-width: 400px;
        text-align: center;
        margin: 2%;
        border: 1px solid var(--gradient-form-color)
    }

    .parastory p {
        text-align: justify;
    }

    /*Form styling*/


    .form-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 0.2rem;
        justify-content: center;
    }

    .alumni {
        padding: 0 1rem;
    }

    .popup-detail {

        max-width: 380px;
        padding: 2rem;
    }

    .closebtn {
        font-size: 1.75rem;
    }

    /*ABOUT US STYLING*/

    .data {
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;

    }

    .cook {
        position: absolute;
        margin-bottom: 1rem;
        margin-right: 1rem;
        bottom: 1rem;
        right: 1rem;

    }

    .heading {
        background-color: darkred;
        color: var(--font-color);
        padding: 0.5rem;
        position: relative;
        left: -10px;
        top: 0;
        margin: 0;
        z-index: 10;
    }

    .cook .heading::after {
        content: "👨🏽‍💻"
    }

    table {
        border-collapse: collapse;
        border: 2px solid var(--button-hover-color);
        letter-spacing: 1px;
        font-size: clamp(13px, 1.2vw, 16px);
        width: 100%;
        background-color: rgba(110, 110, 110, 0.8)
    }

    tr {
        color: var(--font-next-color);
        font-weight: 600;
    }

    #cookIcon {
        display: none;
    }

}