table {
    border-collapse: collapse;
    border: 2px solid rgb(200 200 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    caption-side: bottom;

}

td,
th {
    border: 1px solid rgb(190 190 190);
    padding: 10px 20px;
}

th {
    background-color: black;
}




td {
    text-align: center;
}


tr:nth-child(odd) td {
    background-color: rgb(245 245 245);
}

thead td{
    background-color: black !important;
    font-weight: 600;
    font-size:larger;
    color:white;
}
caption {
    padding: 10px;
}