* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-background-color: darkblue;
    --shape-border-color: black;
}

#course-title {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    padding: 15px;

}



main {
    justify-content: center;
    margin: 1rem 0;
    border-radius: 10px;
    display: grid;
    grid-template: auto 1fr auto/auto 1fr auto;
    align-items: center;
}

nav {
    background-color: var(--text-background-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: 530;

}

nav a:hover {
    color: yellow;
    text-decoration: none;
    padding: 20px;
    font-weight: 545;

}

h1 {
    color: var(--text-background-color);
    margin: 1rem;
    border-bottom: 1px solid darkgray;
}

main h1{
    grid-column: 1/2;
}

main section img {
    width: 150px;
    height: auto;
    border: 1px solid var(--shape-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 1rem;
}

.card{
    grid-column: 1/2;
}

p,
h2 {
    margin: 1rem;

}

aside {
    width: 15rem;
    text-align: center;
    position: relative;

}

/* aside h2 {
    position: absolute;
    top: 20px;
    left: 50px;

} */

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed var(--shape-border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--shape-border-color);
    padding: 1rem;
    background-color: azure;
    color: rgb(0, 0, 0);
}

.indent {
    padding-left: 2rem;
}

header,
footer,
main {
    max-width: 840px;
    margin: 0 auto;
}