h1 {
    background-color: black;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 p {
    color: #445ba9;
    font-size: .9rem;
    /* padding: 0 .2rem; */
}

.wf1 label {
    display: block;
    padding-top: 0.2rem;
    color: #9c2c13;
    font-size: .9rem;
}

.wf1 div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}


.wf1 input[type="date"],
.wf1 input[type="text"],
.wf1 textarea,
.wf1 select {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 94%;
    max-width: 400px;
    /* appearance: none; */
    /*This removes any default styling from the browser */
}


#prod-label,
#app-label,
#date-label,
#write-label,
#name-label {
    margin-top: 0.5rem;
}

#text-box {
    height: 100px;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    padding: .8rem;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input:required,
.wf1 select:required {
    border-left: solid 8px red;
}

.wf1 input:required:valid,
.wf1 select:required:valid {
    border-left: solid 8px green;
}


footer {
    margin-top: 10px;
    border-top: 1px dashed black;
    text-align: center;
    justify-content: center;
}

/* Styling of Review.html */

.label {
    font-weight: 700;
}

#reviews {
    color: navy;
    font-weight: bolder;
    font-size: larger;
}

@media (min-width: 37.5em) {
    .wf1 {
        max-width: 700px;
        margin: auto;
    }

    .wf1 input[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

    }

    .wf1 fieldset {
        margin: 2rem 0 1rem 0;
    }
}