:root {
    line-height: 1.5;
    --font-color: #fff;
    --back-color: #333;
}

h1 {
    text-align: center;
    font-family: times, serif;
    font-size: 1.5rem;

}

header {
    background-color: var(--back-color);
    color: var(--font-color);
    padding: 0.2rem 0;
    margin: 0;
}

footer {
    text-align: center;

}

* {
    font-family: 'Roboto',
        sans-serif;
}

.mains {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 12px;
    justify-content: center;
    width: 100%;
    position: relative;

}

/*Responsive image*/
.hero img {
    width: 100%;
    height: auto;
}

.hero {
    grid-column: 1/-1;
}

table {

    color: royalblue;
    border-collapse: separate;
    border: 2px solid rgb(140 140 140);
    letter-spacing: 2px;
    font-size: clamp(13px, 1.2vw, 16px);
    width: 100%;
    border-spacing: 0.2rem;
    text-indent: 1rem;

}

tr {

    font-weight: 500;
}

.heading {
    text-align: center;
    background-color: maroon;
    color: var(--font-color);
    margin: 0.2rem 0;
    padding: 0.4rem 0;
}

#icon img {
    width: 30%;
    max-width: 350px;
    display: inline-block;
    height: auto;

}

#icon {
    text-align: center;

}




/* large view navigation ************************************/
@media (min-width: 37.5em) {

    header {
        display: block;
        align-items: center;
        background-color: var(--back-color);
        text-align: center;
        padding: 0.2rem 0;
    }

    footer {
        text-align: center;

    }


    header h1 {
        color: var(--font-color);
        justify-items: center;
    }

    .data {
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;

    }

    .weather {
        position: absolute;
        margin-bottom: 1rem;
        margin-right: 1rem;
        bottom: 1rem;
        right: 1rem;

    }

    .heading {
        background-color: darkred;
        color: var(--font-color);
        padding: 0.5rem;
        position: relative;
        left: -10px;
        top: 0;
        margin: 0;
        z-index: 10;
    }

    .weather .heading::after {
        content: "⛅"
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        letter-spacing: 1px;
        font-size: clamp(13px, 1.2vw, 16px);
        width: 100%;
        background-color: rgba(110, 110, 110, 0.8)
    }

    tr {
        color: var(--font-color);
        font-weight: 600;
    }

    #weatherIcon {
        display: none;
    }

}