/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

:root {
    --text-background-color: darkblue;
    --shape-border-color: black;

} */
body {
    font-family: 'Roboto',
        sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid lightgray;
    padding: 2rem;
    background-color: turquoise;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: whitesmoke;
}